.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    gap: 10px;
}

.header {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 10px;

}

.header span {
    color: #de1b89;
    font-weight: 500;
}

.image-loading img {
    display: flex;
    flex-direction: column;
    border-radius: 40px;

}

.image-loading-img {
    width: 512px;

}

.search-box {
    display: flex;
    width: 1000px;
    height: 96px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3549;
}

.search-input {
    width: 600px;
    height: 59px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input::placeholder {
    color: #999;

}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 87px;
    font-size: 20px;
    background: #de1b89;
    border-radius: 50px;
    cursor: pointer;
}